@import url(style.css);

@import url("style.css");

#users_number{
  color: #6C9BCF;
}
main .sales_page_list{
margin-top: 1.4rem;

}


main .sales_page_list > div{
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8rem;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

main .sales_page_list > div:hover{
  box-shadow: none;
}


  .sales{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding:  15px;
  transition: all 0.3s ease;
  min-width: 15rem;
  max-width: 15rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  gap: 0.6rem;
} 

.sales img{
  width: 7rem;
  height: 7rem;
  border-radius: 50px;
}

.sales:hover{
  box-shadow: none;
}



main .sales_page_list .sales_page_list_sales .sale img{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 0.4rem;
}

main .sales_page_list > div .sale:hover{
box-shadow: none;
cursor: pointer;
} 

.saleInformation{
  display: flex;
  flex-direction: column;
}